/* src/components/HomeCard.css */
/* Fiorella Ordenes, Catherine Rojas, Yuliana Nuñes y Giuliana Poggio*/
.home-card {
  width: 100%;
  aspect-ratio: 2 / 3;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 3px;
  overflow: hidden;
}

.home-card:hover {
  transform: scale(1.05);
}

.home-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
