/* src/components/ModalPelicula.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  position: relative;
}

.modal-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.modal-description {
  font-size: 1rem;
  color: #666;
}

/*  Estilos responsivos para el modal */
@media (max-width: 500px) {
  .modal-content {
    padding: 20px;
    width: 95%;
  }

  .modal-title {
    font-size: 1.4rem;
  }

  .modal-description {
    font-size: 0.95rem;
  }
}
