/* src/components/MovieDetails.css */
.detalle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background-color: #111;
  color: #fff;
  min-height: 100vh;
}

.detalle-img {
  width: 100%;
  max-width: 280px; /* Limita el tamaño máximo */
  height: auto;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
.detalle-info {
  max-width: 600px;
  text-align: center;
}

.detalle-title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.detalle-info p {
  font-size: 1.1rem;
  margin: 8px 0;
}

.volver-btn {
  margin-top: 20px;
  background-color: #e50914;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.volver-btn:hover {
  background-color: #b20710;
}

@media (max-width: 600px) {
  .detalle-img {
    width: 90%;
  }

  .detalle-title {
    font-size: 1.6rem;
  }

  .detalle-info p {
    font-size: 1rem;
  }
}
